$black: #303030
$yellow: #fff448
$green: #59ff00
$blue: #0f3fe7
$orange: #ffa532
$pink: #fcaba4


.sans-serif
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

.monospace
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

body
  color: $black

a,
a:link,
a:visited
  color: $blue

a:hover,
a:active
  color: $orange

img
  max-width: 100%




.cheat-content

  h1.cheat-page-title
    color: $black
    margin-top: 0

  h1, h2, h3, h4
    color: $orange
    margin-top: 25px

  hr.cheat-page-hr
    border-top: 4px solid $green

  hr
    border-top: 4px solid $pink

  code,
  pre
    color: $black
    background: $yellow
    border-radius: 4px
    padding: 2px

  .mw-35
    max-width: 35%

@media (max-width: 576px)
  .cheat-content
    .mw-35
      max-width: 100%



nav.header
  background: $yellow

  h1
    display: inline-block
    color: $blue
    
    &:hover,
    &:active
      color: $pink

nav.side
  ul
    list-style: none
    margin: 0
    padding: 0

  li.active a:before,
  li a:hover::before
    content: "["

  li.active a:after,
  li a:hover::after
    content: "]"

  li.subdoc-1
    margin-left: 10px

  li.subdoc-2
    margin-left: 20px

  li.subdoc-3
    margin-left: 30px
